In [114]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [77]:
country = 'India'

In [78]:
prod_ind_data = pd.read_csv('Dataset/archive/fao_data_production_indices_data.csv') #country_or_area
agri_data_all = prod_ind_data[prod_ind_data['category']=='agriculture_pin']

agri_data_all

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2007.0,1000 Int. $,2486910.0,A,agriculture_pin
1,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2006.0,1000 Int. $,2278516.0,A,agriculture_pin
2,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2005.0,1000 Int. $,2524097.0,A,agriculture_pin
3,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2004.0,1000 Int. $,2226346.0,A,agriculture_pin
4,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2003.0,1000 Int. $,2289434.0,A,agriculture_pin
...,...,...,...,...,...,...,...,...
64093,Zimbabwe,438,Net per capita PIN (base 1999-2001),1963.0,Int. $,113.0,A,agriculture_pin
64094,Zimbabwe,438,Net per capita PIN (base 1999-2001),1962.0,Int. $,127.0,A,agriculture_pin
64095,Zimbabwe,438,Net per capita PIN (base 1999-2001),1961.0,Int. $,124.0,A,agriculture_pin
64096,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,agriculture_pin
64097,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,agriculture_pin

In [79]:
dict1 = dict(tuple(agri_data_all.groupby('element')))
agri_data = dict1['Gross Production 1999-2001 (1000 I$)']
agri_data.dropna(inplace=True)
# agri_data.drop(agri_data[agri_data['element'] != 'Gross Production 1999-2001 (1000 I$)'].index)
agri_data = agri_data[['country_or_area', 'year', 'value']]
agri_data.columns = ['Country', 'Year', 'Gross_Agri_Production']
# agri_data = agri_data[~agri_data.Country.str.endswith('+')]
agri_data

           Country    Year  Gross_Agri_Production
0      Afghanistan  2007.0              2486910.0
1      Afghanistan  2006.0              2278516.0
2      Afghanistan  2005.0              2524097.0
3      Afghanistan  2004.0              2226346.0
4      Afghanistan  2003.0              2289434.0
...            ...     ...                    ...
63856     Zimbabwe  1965.0               687546.0
63857     Zimbabwe  1964.0               740738.0
63858     Zimbabwe  1963.0               625430.0
63859     Zimbabwe  1962.0               679806.0
63860     Zimbabwe  1961.0               640644.0

[10779 rows x 3 columns]

In [80]:
agri_data_dict = dict(tuple(agri_data.groupby('Country')))
agri_data_country = agri_data_dict[country] #Select any country
agri_data_country
# agri_data_country.to_csv('test.csv')

      Country    Year  Gross_Agri_Production
25886   India  2007.0            175747700.0
25887   India  2006.0            164974800.0
25888   India  2005.0            156869200.0
25889   India  2004.0            149552600.0
25890   India  2003.0            151552000.0
25891   India  2002.0            137112300.0
25892   India  2001.0            147351100.0
25893   India  2000.0            142989200.0
25894   India  1999.0            143567200.0
25895   India  1998.0            137406600.0
25896   India  1997.0            134052000.0
25897   India  1996.0            132327200.0
25898   India  1995.0            126802000.0
25899   India  1994.0            123259200.0
25900   India  1993.0            119014000.0
25901   India  1992.0            115959300.0
25902   India  1991.0            110870700.0
25903   India  1990.0            109854700.0
25904   India  1989.0            109289000.0
25905   India  1988.0            102021900.0
25906   India  1987.0             92052060.0
25907   India  1986.0             93067530.0
25908   India  1985.0             93183620.0
25909   India  1984.0             90441380.0
25910   India  1983.0             88341420.0
25911   India  1982.0             79127070.0
25912   India  1981.0             79854310.0
25913   India  1980.0             74076420.0
25914   India  1979.0             71872960.0
25915   India  1978.0             75273500.0
25916   India  1977.0             72476440.0
25917   India  1976.0             66914630.0
25918   India  1975.0             67573710.0
25919   India  1974.0             61161410.0
25920   India  1973.0             63310020.0
25921   India  1972.0             58725260.0
25922   India  1971.0             61559940.0
25923   India  1970.0             60053830.0
25924   India  1969.0             56970870.0
25925   India  1968.0             55208160.0
25926   India  1967.0             52731470.0
25927   India  1966.0             49309560.0
25928   India  1965.0             49498330.0
25929   India  1964.0             52267720.0
25930   India  1963.0             51367730.0
25931   India  1962.0             50015760.0
25932   India  1961.0             50142680.0

In [81]:
land_data = pd.read_csv('Dataset/archive/fao_data_land_data.csv') #country_or_area
land_data.drop(land_data[land_data['category'] != 'agricultural_area'].index, inplace = True)
land_data.dropna(inplace=True)
land_data = land_data[['country_or_area', 'year', 'value']]
land_data.columns = ['Country', 'Year', 'Area']
agri_land_data = land_data[~land_data['Country'].str.endswith('+')]
agri_land_dict = dict(tuple(agri_land_data.groupby('Country')))
agri_land_country = agri_land_dict[country]
agri_land_country

     Country    Year      Area
4467   India  2007.0  179900.0
4468   India  2006.0  179900.0
4469   India  2005.0  179858.0
4470   India  2004.0  180083.0
4471   India  2003.0  180309.0
4472   India  2002.0  180037.0
4473   India  2001.0  180370.0
4474   India  2000.0  182573.0
4475   India  1999.0  180950.0
4476   India  1998.0  181048.0
4477   India  1997.0  180856.0
4478   India  1996.0  180881.0
4479   India  1995.0  180780.0
4480   India  1994.0  181030.0
4481   India  1993.0  181038.0
4482   India  1992.0  180940.0
4483   India  1991.0  181140.0
4484   India  1990.0  181040.0
4485   India  1989.0  181284.0
4486   India  1988.0  181160.0
4487   India  1987.0  181650.0
4488   India  1986.0  181227.0
4489   India  1985.0  180949.0
4490   India  1984.0  181080.0
4491   India  1983.0  180479.0
4492   India  1982.0  180725.0
4493   India  1981.0  180459.0
4494   India  1980.0  180355.0
4495   India  1979.0  180557.0
4496   India  1978.0  180998.0
4497   India  1977.0  180789.0
4498   India  1976.0  180810.0
4499   India  1975.0  180858.0
4500   India  1974.0  180010.0
4501   India  1973.0  179240.0
4502   India  1972.0  178220.0
4503   India  1971.0  177700.0
4504   India  1970.0  178050.0
4505   India  1969.0  177890.0
4506   India  1968.0  178370.0
4507   India  1967.0  177820.0
4508   India  1966.0  177630.0
4509   India  1965.0  177243.0
4510   India  1964.0  176719.0
4511   India  1963.0  176180.0
4512   India  1962.0  176402.0
4513   India  1961.0  174907.0

In [82]:
world_gdp_data = pd.read_csv('Dataset/archive/world_country_gdp_usd.csv')
world_gdp_data['Country Name'] = world_gdp_data['Country Name'].replace('United States', 'United States of America')
world_gdp_data = world_gdp_data.drop('Country Code', axis=1)
world_gdp_data.columns = ['Country', 'Year', 'GDP', 'GDP_Per_Capita']
world_gdp_data.dropna(inplace=True)
world_gdp_dict = dict(tuple(world_gdp_data.groupby('Country')))
world_gdp_country = world_gdp_dict[country]
world_gdp_country

      Country  Year           GDP  GDP_Per_Capita
109     India  1960  3.702988e+10       82.188603
375     India  1961  3.923244e+10       85.354301
641     India  1962  4.216148e+10       89.881756
907     India  1963  4.842192e+10      101.126429
1173    India  1964  5.648029e+10      115.537496
...       ...   ...           ...             ...
15271   India  2017  2.651470e+12     1980.667020
15537   India  2018  2.702930e+12     1998.259076
15803   India  2019  2.831550e+12     2072.244897
16069   India  2020  2.667690e+12     1933.101069
16335   India  2021  3.173400e+12     2277.434347

[62 rows x 4 columns]

In [83]:
#Agriculture Research Spending
#Year varies from 2000 to 2012  
#6084	Spending, total	million PPP (constant 2011 prices)
world_research_data = pd.read_csv('Dataset/archive/ASTI_Research_Spending_E_All_Data.csv', encoding='ISO-8859-1') 
world_research_data = world_research_data[['Country', 'Element', 'Year', 'Value']]
world_research_data.drop(world_research_data[world_research_data['Element'] != '2011 PPP$'].index, inplace = True)
world_research_data.drop('Element', axis=1, inplace=True)
world_research_data.columns = ['Country', 'Year', 'Agriculture Research Spending']
# world_gdp_data.dropna(inplace=True)
world_research_dict = dict(tuple(world_research_data.groupby('Country')))
world_research_country = world_research_dict[country]
world_research_country
#Inflation nos?

    Country  Year  Agriculture Research Spending
634   India  2000                         2164.1
635   India  2001                         2092.4
636   India  2002                         2095.9
637   India  2003                         2169.6
638   India  2004                         2217.9
639   India  2005                         2497.2
640   India  2006                         2610.6
641   India  2007                         2703.8
642   India  2008                         3102.5
643   India  2009                         3375.4

In [87]:
# Year varies from 2002 to 2014
# Unit kg/ha
world_fertilizer_data = pd.read_csv('Dataset/archive/Environment_Fertilizers_E_All_Data.csv', encoding='ISO-8859-1') #Area
grouped_fertilizer_df = world_fertilizer_data.groupby(['Area', 'Year', 'Item Code'])['Value'].sum().reset_index()
pivot_df = grouped_fertilizer_df.pivot_table(index=['Area', 'Year'], columns='Item Code', values='Value', fill_value=0).reset_index()
pivot_df['Sum'] =  pivot_df[3102] + pivot_df[3103] + pivot_df[3104]
fertilizer_data = pivot_df[['Area', 'Year', 'Sum']]
fertilizer_data.columns = ['Country', 'Year', 'Total Fertilizer Use']
world_fertilizer_dict = dict(tuple(fertilizer_data.groupby('Country')))
world_fertilizer_country = world_fertilizer_dict[country]
world_fertilizer_country

     Country  Year  Total Fertilizer Use
1176   India  2002                 94.67
1177   India  2003                 98.98
1178   India  2004                108.34
1179   India  2005                119.92
1180   India  2006                127.71
1181   India  2007                133.40
1182   India  2008                143.04
1183   India  2009                155.82
1184   India  2010                166.11
1185   India  2011                167.52
1186   India  2012                152.34
1187   India  2013                146.02
1188   India  2014                152.45

In [106]:
world_temp_data = pd.read_csv('Dataset/archive/Environment_Temperature_change_E_All_Data.csv', encoding='ISO-8859-1') #Area
print(world_temp_data['Months'].unique())
print(world_temp_data['Element'].unique())
world_temp_dict = dict(tuple(world_temp_data.groupby('Area')))
world_temp_country = world_temp_dict[country]
# world_temp_country.to_csv('temp-test.csv')
world_temp_change_country  = world_temp_country[(world_temp_country['Months'] == 'Meteorological year') & (world_temp_country['Element'] == 'Temperature change')]
world_temp_change_country = world_temp_change_country.rename(columns={'Value': 'Temp. Change', 'Area': 'Country' })
world_temp_change_country
# 6 degree celsius change in 10 years?

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December' 'Dec\x96Jan\x96Feb'
 'Mar\x96Apr\x96May' 'Jun\x96Jul\x96Aug' 'Sep\x96Oct\x96Nov'
 'Meteorological year']
['Temperature change' 'Standard Deviation']

,Area Code,Country,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Temp. Change,Flag
184576,100,India,7020,Meteorological year,7271,Temperature change,1961,1961,Â°C,-0.126,Fc
184577,100,India,7020,Meteorological year,7271,Temperature change,1962,1962,Â°C,-0.290,Fc
184578,100,India,7020,Meteorological year,7271,Temperature change,1963,1963,Â°C,0.008,Fc
184579,100,India,7020,Meteorological year,7271,Temperature change,1964,1964,Â°C,-0.028,Fc
184580,100,India,7020,Meteorological year,7271,Temperature change,1965,1965,Â°C,-0.089,Fc
184581,100,India,7020,Meteorological year,7271,Temperature change,1966,1966,Â°C,0.282,Fc
184582,100,India,7020,Meteorological year,7271,Temperature change,1967,1967,Â°C,-0.235,Fc
184583,100,India,7020,Meteorological year,7271,Temperature change,1968,1968,Â°C,-0.213,Fc
184584,100,India,7020,Meteorological year,7271,Temperature change,1969,1969,Â°C,0.307,Fc
184585,100,India,7020,Meteorological year,7271,Temperature change,1970,1970,Â°C,0.033,Fc
184586,100,India,7020,Meteorological year,7271,Temperature change,1971,1971,Â°C,-0.492,Fc
184587,100,India,7020,Meteorological year,7271,Temperature change,1972,1972,Â°C,-0.048,Fc
184588,100,India,7020,Meteorological year,7271,Temperature change,1973,1973,Â°C,0.226,Fc
184589,100,India,7020,Meteorological year,7271,Temperature change,1974,1974,Â°C,-0.078,Fc
184590,100,India,7020,Meteorological year,7271,Temperature change,1975,1975,Â°C,-0.386,Fc
184591,100,India,7020,Meteorological year,7271,Temperature change,1976,1976,Â°C,-0.137,Fc
184592,100,India,7020,Meteorological year,7271,Temperature change,1977,1977,Â°C,0.040,Fc
184593,100,India,7020,Meteorological year,7271,Temperature change,1978,1978,Â°C,-0.146,Fc
184594,100,India,7020,Meteorological year,7271,Temperature change,1979,1979,Â°C,0.284,Fc
184595,100,India,7020,Meteorological year,7271,Temperature change,1980,1980,Â°C,0.379,Fc
184596,100,India,7020,Meteorological year,7271,Temperature change,1981,1981,Â°C,0.041,Fc
184597,100,India,7020,Meteorological year,7271,Temperature change,1982,1982,Â°C,-0.083,Fc
184598,100,India,7020,Meteorological year,7271,Temperature change,1983,1983,Â°C,-0.210,Fc
184599,100,India,7020,Meteorological year,7271,Temperature change,1984,1984,Â°C,-0.190,Fc
184600,100,India,7020,Meteorological year,7271,Temperature change,1985,1985,Â°C,0.124,Fc
184601,100,India,7020,Meteorological year,7271,Temperature change,1986,1986,Â°C,0.057,Fc
184602,100,India,7020,Meteorological year,7271,Temperature change,1987,1987,Â°C,0.462,Fc
184603,100,India,7020,Meteorological year,7271,Temperature change,1988,1988,Â°C,0.468,Fc
184604,100,India,7020,Meteorological year,7271,Temperature change,1989,1989,Â°C,0.011,Fc
184605,100,India,7020,Meteorological year,7271,Temperature change,1990,1990,Â°C,-0.055,Fc
184606,100,India,7020,Meteorological year,7271,Temperature change,1991,1991,Â°C,0.192,Fc
184607,100,India,7020,Meteorological year,7271,Temperature change,1992,1992,Â°C,0.045,Fc
184608,100,India,7020,Meteorological year,7271,Temperature change,1993,1993,Â°C,0.293,Fc
184609,100,India,7020,Meteorological year,7271,Temperature change,1994,1994,Â°C,0.113,Fc
184610,100,India,7020,Meteorological year,7271,Temperature change,1995,1995,Â°C,0.170,Fc
184611,100,India,7020,Meteorological year,7271,Temperature change,1996,1996,Â°C,0.291,Fc
184612,100,India,7020,Meteorological year,7271,Temperature change,1997,1997,Â°C,-0.150,Fc
184613,100,India,7020,Meteorological year,7271,Temperature change,1998,1998,Â°C,0.566,Fc
184614,100,India,7020,Meteorological year,7271,Temperature change,1999,1999,Â°C,0.396,Fc
184615,100,India,7020,Meteorological year,7271,Temperature change,2000,2000,Â°C,0.242,Fc
184616,100,India,7020,Meteorological year,7271,Temperature change,2001,2001,Â°C,0.319,Fc
184617,100,India,7020,Meteorological year,7271,Temperature change,2002,2002,Â°C,0.644,Fc
184618,100,India,7020,Meteorological year,7271,Temperature change,2003,2003,Â°C,0.509,Fc
184619,100,India,7020,Meteorological year,7271,Temperature change,2004,2004,Â°C,0.429,Fc
184620,100,India,7020,Meteorological year,7271,Temperature change,2005,2005,Â°C,0.376,Fc
184621,100,India,7020,Meteorological year,7271,Temperature change,2006,2006,Â°C,0.471,Fc
184622,100,India,7020,Meteorological year,7271,Temperature change,2007,2007,Â°C,0.490,Fc
184623,100,India,7020,Meteorological year,7271,Temperature change,2008,2008,Â°C,0.157,Fc
184624,100,India,7020,Meteorological year,7271,Temperature change,2009,2009,Â°C,1.072,Fc
184625,100,India,7020,Meteorological year,7271,Temperature change,2010,2010,Â°C,1.075,Fc
184626,100,India,7020,Meteorological year,7271,Temperature change,2011,2011,Â°C,0.387,Fc
184627,100,India,7020,Meteorological year,7271,Temperature change,2012,2012,Â°C,0.432,Fc
184628,100,India,7020,Meteorological year,7271,Temperature change,2013,2013,Â°C,0.353,Fc
184629,100,India,7020,Meteorological year,7271,Temperature change,2014,2014,Â°C,0.549,Fc
184630,100,India,7020,Meteorological year,7271,Temperature change,2015,2015,Â°C,0.623,Fc
184631,100,India,7020,Meteorological year,7271,Temperature change,2016,2016,Â°C,0.989,Fc

In [107]:
world_temp_deviation_country  = world_temp_country[(world_temp_country['Months'] == 'Meteorological year') & (world_temp_country['Element'] == 'Standard Deviation')]
world_temp_deviation_country = world_temp_deviation_country.rename(columns={'Value': 'Temp. Deviation', 'Area': 'Country' })
world_temp_deviation_country

,Area Code,Country,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Temp. Deviation,Flag
184632,100,India,7020,Meteorological year,6078,Standard Deviation,1961,1961,Â°C,0.243,Fc
184633,100,India,7020,Meteorological year,6078,Standard Deviation,1962,1962,Â°C,0.243,Fc
184634,100,India,7020,Meteorological year,6078,Standard Deviation,1963,1963,Â°C,0.243,Fc
184635,100,India,7020,Meteorological year,6078,Standard Deviation,1964,1964,Â°C,0.243,Fc
184636,100,India,7020,Meteorological year,6078,Standard Deviation,1965,1965,Â°C,0.243,Fc
184637,100,India,7020,Meteorological year,6078,Standard Deviation,1966,1966,Â°C,0.243,Fc
184638,100,India,7020,Meteorological year,6078,Standard Deviation,1967,1967,Â°C,0.243,Fc
184639,100,India,7020,Meteorological year,6078,Standard Deviation,1968,1968,Â°C,0.243,Fc
184640,100,India,7020,Meteorological year,6078,Standard Deviation,1969,1969,Â°C,0.243,Fc
184641,100,India,7020,Meteorological year,6078,Standard Deviation,1970,1970,Â°C,0.243,Fc
184642,100,India,7020,Meteorological year,6078,Standard Deviation,1971,1971,Â°C,0.243,Fc
184643,100,India,7020,Meteorological year,6078,Standard Deviation,1972,1972,Â°C,0.243,Fc
184644,100,India,7020,Meteorological year,6078,Standard Deviation,1973,1973,Â°C,0.243,Fc
184645,100,India,7020,Meteorological year,6078,Standard Deviation,1974,1974,Â°C,0.243,Fc
184646,100,India,7020,Meteorological year,6078,Standard Deviation,1975,1975,Â°C,0.243,Fc
184647,100,India,7020,Meteorological year,6078,Standard Deviation,1976,1976,Â°C,0.243,Fc
184648,100,India,7020,Meteorological year,6078,Standard Deviation,1977,1977,Â°C,0.243,Fc
184649,100,India,7020,Meteorological year,6078,Standard Deviation,1978,1978,Â°C,0.243,Fc
184650,100,India,7020,Meteorological year,6078,Standard Deviation,1979,1979,Â°C,0.243,Fc
184651,100,India,7020,Meteorological year,6078,Standard Deviation,1980,1980,Â°C,0.243,Fc
184652,100,India,7020,Meteorological year,6078,Standard Deviation,1981,1981,Â°C,0.243,Fc
184653,100,India,7020,Meteorological year,6078,Standard Deviation,1982,1982,Â°C,0.243,Fc
184654,100,India,7020,Meteorological year,6078,Standard Deviation,1983,1983,Â°C,0.243,Fc
184655,100,India,7020,Meteorological year,6078,Standard Deviation,1984,1984,Â°C,0.243,Fc
184656,100,India,7020,Meteorological year,6078,Standard Deviation,1985,1985,Â°C,0.243,Fc
184657,100,India,7020,Meteorological year,6078,Standard Deviation,1986,1986,Â°C,0.243,Fc
184658,100,India,7020,Meteorological year,6078,Standard Deviation,1987,1987,Â°C,0.243,Fc
184659,100,India,7020,Meteorological year,6078,Standard Deviation,1988,1988,Â°C,0.243,Fc
184660,100,India,7020,Meteorological year,6078,Standard Deviation,1989,1989,Â°C,0.243,Fc
184661,100,India,7020,Meteorological year,6078,Standard Deviation,1990,1990,Â°C,0.243,Fc
184662,100,India,7020,Meteorological year,6078,Standard Deviation,1991,1991,Â°C,0.243,Fc
184663,100,India,7020,Meteorological year,6078,Standard Deviation,1992,1992,Â°C,0.243,Fc
184664,100,India,7020,Meteorological year,6078,Standard Deviation,1993,1993,Â°C,0.243,Fc
184665,100,India,7020,Meteorological year,6078,Standard Deviation,1994,1994,Â°C,0.243,Fc
184666,100,India,7020,Meteorological year,6078,Standard Deviation,1995,1995,Â°C,0.243,Fc
184667,100,India,7020,Meteorological year,6078,Standard Deviation,1996,1996,Â°C,0.243,Fc
184668,100,India,7020,Meteorological year,6078,Standard Deviation,1997,1997,Â°C,0.243,Fc
184669,100,India,7020,Meteorological year,6078,Standard Deviation,1998,1998,Â°C,0.243,Fc
184670,100,India,7020,Meteorological year,6078,Standard Deviation,1999,1999,Â°C,0.243,Fc
184671,100,India,7020,Meteorological year,6078,Standard Deviation,2000,2000,Â°C,0.243,Fc
184672,100,India,7020,Meteorological year,6078,Standard Deviation,2001,2001,Â°C,0.243,Fc
184673,100,India,7020,Meteorological year,6078,Standard Deviation,2002,2002,Â°C,0.243,Fc
184674,100,India,7020,Meteorological year,6078,Standard Deviation,2003,2003,Â°C,0.243,Fc
184675,100,India,7020,Meteorological year,6078,Standard Deviation,2004,2004,Â°C,0.243,Fc
184676,100,India,7020,Meteorological year,6078,Standard Deviation,2005,2005,Â°C,0.243,Fc
184677,100,India,7020,Meteorological year,6078,Standard Deviation,2006,2006,Â°C,0.243,Fc
184678,100,India,7020,Meteorological year,6078,Standard Deviation,2007,2007,Â°C,0.243,Fc
184679,100,India,7020,Meteorological year,6078,Standard Deviation,2008,2008,Â°C,0.243,Fc
184680,100,India,7020,Meteorological year,6078,Standard Deviation,2009,2009,Â°C,0.243,Fc
184681,100,India,7020,Meteorological year,6078,Standard Deviation,2010,2010,Â°C,0.243,Fc
184682,100,India,7020,Meteorological year,6078,Standard Deviation,2011,2011,Â°C,0.243,Fc
184683,100,India,7020,Meteorological year,6078,Standard Deviation,2012,2012,Â°C,0.243,Fc
184684,100,India,7020,Meteorological year,6078,Standard Deviation,2013,2013,Â°C,0.243,Fc
184685,100,India,7020,Meteorological year,6078,Standard Deviation,2014,2014,Â°C,0.243,Fc
184686,100,India,7020,Meteorological year,6078,Standard Deviation,2015,2015,Â°C,0.243,Fc
184687,100,India,7020,Meteorological year,6078,Standard Deviation,2016,2016,Â°C,0.243,Fc

In [86]:
# world_water_data = pd.read_csv('Dataset/archive/Environment_Water_E_All_Data.csv', encoding='ISO-8859-1') #Country
# world_water_data

,CountryCode,Country,ItemCode,Item,ElementGroup,ElementCode,Element,Year,Unit,Value,Flag
0,2,Afghanistan,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1987,%,99.00,Fc
1,3,Albania,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1990,%,83.33,Fc
2,3,Albania,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,2000,%,57.61,Fc
3,3,Albania,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,2006,%,39.69,Fc
4,4,Algeria,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1980,%,74.00,Fc
...,...,...,...,...,...,...,...,...,...,...,...
423,251,Zambia,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1992,%,76.57,Fc
424,251,Zambia,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1994,%,77.19,Fc
425,251,Zambia,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,2002,%,73.25,Fc
426,181,Zimbabwe,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,1987,%,78.69,Fc
427,181,Zimbabwe,6720,Water withdrawal for agricultural use,7222,7222,% of total water withdrawal,2002,%,78.86,Fc

In [117]:
#Merge dataframes
# Merge the DataFrames one by one based on 'Year'
merged_df = pd.merge(agri_data_country, agri_land_country, on='Year', how='inner')
merged_df = pd.merge(merged_df, world_gdp_country, on='Year', how='inner')
merged_df = pd.merge(merged_df, world_research_country, on='Year', how='inner')
merged_df = pd.merge(merged_df, world_fertilizer_country, on='Year', how='inner')
merged_df = pd.merge(merged_df, world_temp_change_country, on='Year', how='inner')
merged_df = pd.merge(merged_df, world_temp_deviation_country, on='Year', how='inner')
merged_df = merged_df[['Year', 'Gross_Agri_Production', 'Area', 'GDP', 'GDP_Per_Capita', 'Agriculture Research Spending', 'Total Fertilizer Use','Temp. Change', 'Temp. Deviation' ]]
merged_df

C:\Users\saumy\AppData\Local\Temp\ipykernel_25136\4076515615.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, world_research_country, on='Year', how='inner')
C:\Users\saumy\AppData\Local\Temp\ipykernel_25136\4076515615.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, world_temp_change_country, on='Year', how='inner')

,Year,Gross_Agri_Production,Area,GDP,GDP_Per_Capita,Agriculture Research Spending,Total Fertilizer Use,Temp. Change,Temp. Deviation
0,2007.0,175747700.0,179900.0,1.216740e+12,1028.334772,2703.8,133.40,0.490,0.243
1,2006.0,164974800.0,179900.0,9.402600e+11,806.753281,2610.6,127.71,0.471,0.243
2,2005.0,156869200.0,179858.0,8.203820e+11,714.861015,2497.2,119.92,0.376,0.243
3,2004.0,149552600.0,180083.0,7.091490e+11,627.774242,2217.9,108.34,0.429,0.243
4,2003.0,151552000.0,180309.0,6.076990e+11,546.726613,2169.6,98.98,0.509,0.243
5,2002.0,137112300.0,180037.0,5.149380e+11,470.986787,2095.9,94.67,0.644,0.243

In [112]:
merged_df.columns

Index(['Year', 'Gross_Agri_Production', 'Area', 'GDP', 'GDP_Per_Capita',
       'Agriculture Research Spending', 'Total Fertilizer Use', 'Temp. Change',
       'Temp. Deviation'],
      dtype='object')

In [121]:
Y_Prod = merged_df['Gross_Agri_Production']
# X_Prod = merged_df[['Year', 'Area', 'GDP', 'GDP_Per_Capita',
#        'Agriculture Research Spending', 'Total Fertilizer Use', 'Temp. Change']]

X_Prod = merged_df[['Year', 'Area', 'GDP', 'GDP_Per_Capita',
        'Agriculture Research Spending', 'Total Fertilizer Use']]

X_Prod = sm.add_constant(X_Prod)
model = sm.OLS(Y_Prod, X_Prod).fit()
print(model.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     Gross_Agri_Production   R-squared:                       0.996
Model:                               OLS   Adj. R-squared:                  0.980
Method:                    Least Squares   F-statistic:                     60.76
Date:                   Tue, 19 Sep 2023   Prob (F-statistic):             0.0959
Time:                           14:48:34   Log-Likelihood:                -89.911
No. Observations:                      6   AIC:                             189.8
Df Residuals:                          1   BIC:                             188.8
Df Model:                              4
Covariance Type:               nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                         -1359.9580    382.355     -3.557      0.174   -6218.242    3498.326
Year                          -2.681e+06   7.71e+05     -3.478      0.178   -1.25e+07    7.12e+06
Area                           2.961e+04   8451.043      3.504      0.177   -7.78e+04    1.37e+05
GDP                              -0.0005      0.001     -0.900      0.533      -0.007       0.006
GDP_Per_Capita                 6.469e+05    6.7e+05      0.966      0.511   -7.86e+06    9.16e+06
Agriculture Research Spending  5.679e+04    1.7e+04      3.332      0.186    -1.6e+05    2.73e+05
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.795
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.829
Skew:                           0.504   Prob(JB):                        0.661
Kurtosis:                       1.484   Cond. No.                     7.14e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.14e+15. This might indicate that there are
strong multicollinearity or other numerical problems.

D:\PythonProjects\venv\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [122]:
X_Prod

,const,Year,Area,GDP,GDP_Per_Capita,Agriculture Research Spending
0,1.0,2007.0,179900.0,1.216740e+12,1028.334772,2703.8
1,1.0,2006.0,179900.0,9.402600e+11,806.753281,2610.6
2,1.0,2005.0,179858.0,8.203820e+11,714.861015,2497.2
3,1.0,2004.0,180083.0,7.091490e+11,627.774242,2217.9
4,1.0,2003.0,180309.0,6.076990e+11,546.726613,2169.6
5,1.0,2002.0,180037.0,5.149380e+11,470.986787,2095.9

In [123]:
X_Prod['GDP']/X_Prod['GDP_Per_Capita']

0    1.183214e+09
1    1.165486e+09
2    1.147610e+09
3    1.129624e+09
4    1.111523e+09
5    1.093317e+09
dtype: float64